.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  flex-direction: column;
}

.products {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
